nav {
    background-color: #1a0c52; /* Background color for the entire nav */
    color: #fff; /* Text color for links and other text */
    padding: 6px 50px; /* Padding inside the nav */
    display: flex; /* Flexbox layout for positioning items */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align items vertically */
}

nav img {
    max-width: 100%; /* Ensure images don't overflow */
    vertical-align: middle; /* Align images vertically */
}

nav a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links */
    margin-left: 15px; /* Spacing between links */
}

nav a:hover {
    text-decoration: underline; /* Underline links on hover */
}

.nav-links{
   margin-top:0px;
}

.company-logo img, .profilePic{
  border-radius: 50%;
}

/* Table styles */
h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for table */
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #333;
    color: white;
}

table td {
    background-color: #f2f2f2;
}



/* Button styles */
button {
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    background-color: transparent;
    color:white;
}

button img {
    vertical-align: middle;
    margin-right: 5px;
}

/* Flexbox layout for buttons */
.btns {
    display: flex;
    justify-content: center; /* Align buttons center horizontally */
    margin-top: 0px; /* Adjust top margin as needed */
  
}

.btns button {
    margin: 0 5px; /* Adjust spacing between buttons */
}
